* {
  box-sizing: border-box;
}

html,
.content {
  background-color: #00FA9A;
  margin-top: 2rem;
  min-height: 100vh;
  
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#hidden {
  opacity: 0;
}

#navLink{
  color: black;
}
.ml-3 {
  background-color: #00FA9A;
}

#landingPage  {
  min-height: 100vh
}
#landingPage body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #00FA9A;
}
#landingPage section {
  margin: 0 120px;
  position: relative;
}
#landingPage header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
#landingPage header div {
  margin-left: 30px;
  font-size: 20px;
}
#landingPage header ul a {
   display: inline-block; /* this will make the menu options in a horizontal line */
   margin-left: 700px;
   margin: 0 20px;
}
#landingPage #main {
  margin: 0 40px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between
  
}
#main .main-text {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.5;
}
#landingPage span {
  border-bottom: 2px solid;
  border-color: white;
}
#bigLogo {
   position: absolute; 
  width: 500px;
  height: 500px;
   left: 630px; 
}
#landingPage span {
  color:  #FFF;
  bottom: 20px;
}
#routingLinks{
  color: #FFF;
}
.aboutInfo {
  display: block;
  position: relative;
  margin-right: 500px;
  padding-bottom: 300px;
  margin-left: 100px;
}
.DropDownArrow {
  background-color: #00FA9A;
  color: #00FA9A;
}
#searchButton {
  background-color: #00FA9A;
  border-color: white;
  color: white;
}
#buttonRules {
  background-color: #00FA9A;
  border-color: #FFF;
  color: black;
}
#howTo {
  position: absolute;
  margin-left: 15vw;
  margin-top: 12vh;
  margin-bottom: 100px;
  color: black;
  text-decoration-style: bold;
}
#howTo ul {
  list-style-type: square;
}
#howTo li {
  font-size: 30px;
}

#nestedList li{
  font-size: 25px;
}

#aStyle {
  color: white;
}

#root {
  min-height: 100vh;
}

#greenLogo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}


#outerFoodCard{
  background-color: white;
  color: black;
  border-radius: 15px;
  border-width: 5px;
  border-color: white;
}

#foodCard{
  background-color: #00FA9A;
  color: black;
  border-color: white;
}

#foodStat {
  background-color: white;
  border-color: white;
}

#foodStat2 {
  background-color: #B3FFB3;
  border-color: white;
}




#productsContainer {
  background-color: white;
  border-color: white;
}

#productResult {
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-width: 3px;
  border-color: #00FA9A;
}

#productButton{
  background-color: #00FA9A;
  color: black;
  border-radius: 20px;
  border-width: 5;
  border-color: #00FA9A;
}

#advancedSearchContainer {
  color: black;
  background-color: white;
  border-color: #00FA9A;
}

#asButton {
  background-color: #00FA9A;
  color: black;
  border-color: #00FA9A;
}

#noResults {
  background-color: #00FA9A;
  color: black;
  border-color: #00FA9A;
  text-align: center;
  border-radius: 15px;
}

#navImg {
  margin-left: 5px;
  margin-right:20px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

#aboutImg {
  width: 400;
  height: 400;
  margin-right: 200px;
  margin-left: 420px;
}


#profileCard {
  background-color: #B3FFB3;
  color: black;
}

#recipeButton {
  color: white;
  border-color: #3F69AA;
  background-color: #3F69AA;
}

#shareButton {
  border-color: coral;
  background-color: coral;
  color: black;

}

#purpose {
  text-align: center;
  font-size: 2rem;
  margin-left: 40px;
}

#bigLogo2 {
  position: relative;
  width: 300px;
  height: 300px;
  margin-right: 50px;
}

#dropdown-menu {
    right: 0;
    left: auto;
}

@media (max-width: 575px) {
  div > div > img {
    display: none;
  }

  #hideImg {
    display: none;
  }

  #pushLeftWhenSmall {
    float: left;
  }

  #howTo {
    margin-left: -40vw;
    position: static;
  }

  #howTo li {
    font-size: 5vw;
  }

  #nestedList li {
    font-size: 4vw;
  }

  #purpose {
    font-size: 1.3rem;
    margin-top: 25vw;
    margin-left: -55vw;
  }

  #bigLogo2 {
    margin-right: 0;
    margin-left: 0;
  }

  #dropdown-menu {
    left: 0;
    right: auto;
  }

}